/* Doesn't have to be the specific layout I just wanted to put some sort of organization for the webpage in - Caleb*/
main
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 5px 5px;
    grid-template-areas: 
        "header    header"
        "nav       nav"
        "section   aside"
        "footer    footer"
}

.section-header
{
    text-align: center;
}

header
{
    grid-area: header;
}

nav
{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}

/* Main area for text*/
section
{
    grid-area: section;
}

/* Sidebar */
aside
{
    grid-area: aside;
}

footer
{
    grid-area: footer;
}

.menu
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 5px;
}

.menu-category
{
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

div.navigation-bar
{
    text-align: center;
}